<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Trip</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .container {
            margin-top: 60px;
        }
        .center_form {
            margin: auto;
            width: 500px;
            padding: 20px;
            display: inline-block;
           
        }
        .navigation {
            float: right;
        }
        .btn {
            width: 100px;
            margin-top: 20px;
        }
        input, h2 {
            width: 300px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="navigation"><a href="/travels">Home</a> | <a href="/logout">Logout</a></div>
        <div class="center_form">
                <h1>Add a Trip</h1> 
                <form class="" action="/create_trip" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Destination</label>
                        <input type="text" class="form-control" name="Destination" placeholder="Enter Destination">
                    </div>
                    <div class="form-group">
                            <label for="Description">Description</label>
                            <input type="text" class="form-control" name="Description" placeholder="Please enter a Description">
                    </div>
                    <div class="form-group">
                        <label for="Travel_start_date">Travel Date From</label>
                        <input type="date" class="form-control" name="Travel_start_date" placeholder=""> 
                    </div>
                    <div class="form-group">
                        <label for="Travel_end_date">Travel Date To</label>
                        <input type="date" class="form-control" name="Travel_end_date" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-primary" name="add" value="addtrip">Add</button>
                </form>
            {% for message in messages %}
            <ul class="messages">
                <li>{{ message }}</li>
            </ul>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>